.table-container {
  position: relative;
  min-height: 200px;
  overflow: auto;
  border-radius: 5px 5px 0 0;
}
.loading-shade {
  position: absolute;
  top: 60px;
  left: 30px;
  bottom: 0;
  right: 30px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.rate-limit-reached {
  max-width: 360px;
  text-align: center;
}
table {
  width: 100%;
  background-color: #F4F2F0;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  padding: 0 20px;
}

.mat-header-cell {
  color: white;
}

.mat-header-row {
  background-color: #479AA1;
}

.mat-header-row,
.mat-row {
  height: 32px !important;
}

mat-paginator {
  background-color: #D9D3CE;
  border-radius: 0 0 5px 5px;
}
