<div class="layout" [ngClass]="{ 'theme-alternate': isDarkTheme }">
  <header *ngIf="isAuthenticated$ | async">
    <mat-toolbar color="primary">
      <div *ngIf="!(isScreenSmall$ | async); else menu" class="nav-wrapper">
        <div class="nav-wide-left">
          <div class="mat-display-1">
            <span>DIAGEO</span>
          </div>
          <div class="nav-wide-left-items">
            <a [routerLink]="['/users']" mat-button class="mat-flat-button" color="primary"
               routerLinkActive="mat-accent">
              <span>USERS</span>
            </a>
            <a [routerLink]="['/pubs']" mat-button class="mat-flat-button" color="primary"
               routerLinkActive="mat-accent">
              <span>PUBS</span>
            </a>
            <a [routerLink]="['/products']" mat-button class="mat-flat-button" color="primary"
               routerLinkActive="mat-accent">
              <span>PRODUCTS</span>
            </a>
            <a [routerLink]="['/brands']" mat-button class="mat-flat-button" color="primary"
               routerLinkActive="mat-accent">
              <span>BRANDS</span>
            </a>
            <a [routerLink]="['/campaigns']" mat-button class="mat-flat-button" color="primary"
               routerLinkActive="mat-accent active-link">
              <span>CAMPAIGNS</span>
            </a>
            <a [routerLink]="['/messages']" mat-button class="mat-flat-button" color="primary"
               routerLinkActive="mat-accent">
              <span>MESSAGES</span>
            </a>
            <a [routerLink]="['/quizzes']" mat-button class="mat-flat-button" color="primary"
               routerLinkActive="mat-accent">
              <span>QUIZZES</span>
            </a>
            <a [routerLink]="['/statistics']" mat-button class="mat-flat-button" color="primary"
               routerLinkActive="mat-accent">
              <span class="text">STATISTICS</span>
            </a>
          </div>
        </div>
        <div class="nav-wide-right">
          <div class="user">
            <mat-icon>account_circle</mat-icon>
            <span>ADMIN XY</span>
          </div>
          <button (click)="logout()" mat-button class="mat-flat-button" color="primary">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      </div>
      <ng-template #menu>
        <button (click)="drawer.toggle()" mat-icon-button class="mat-flat-button" color="primary"
                aria-label="Menu button">
          <mat-icon>menu</mat-icon>
        </button>
      </ng-template>
    </mat-toolbar>
  </header>
  <main>
    <mat-drawer-container class="layout-drawer" autosize>
      <mat-drawer (click)="drawer.toggle()" [autoFocus]="false" class="drawer-options" #drawer mode="over">
        <div class="user">
          <mat-icon>account_circle</mat-icon>
          <span>ADMIN XY</span>
        </div>
        <a [routerLink]="['/users']" mat-button class="mat-flat-button" color="primary" routerLinkActive="mat-accent">
          <span>USERS</span>
        </a>
        <a [routerLink]="['/pubs']" mat-button class="mat-flat-button" color="primary" routerLinkActive="mat-accent">
          <span>PUBS</span>
        </a>
        <a [routerLink]="['/products']" mat-button class="mat-flat-button" color="primary"
           routerLinkActive="mat-accent">
          <span>PRODUCTS</span>
        </a>
        <a [routerLink]="['/brands']" mat-button class="mat-flat-button" color="primary" routerLinkActive="mat-accent">
          <span>BRANDS</span>
        </a>
        <a [routerLink]="['/campaigns']" mat-button class="mat-flat-button" color="primary"
           routerLinkActive="mat-accent">
          <span>CAMPAIGNS</span>
        </a>
        <a [routerLink]="['/messages']" mat-button class="mat-flat-button" color="primary"
           routerLinkActive="mat-accent">
          <span>MESSAGES</span>
        </a>
        <a [routerLink]="['/quizzes']" mat-button class="mat-flat-button" color="primary" routerLinkActive="mat-accent">
          <span class="text">QUIZZES</span>
        </a>
        <a [routerLink]="['/statistics']" mat-button class="mat-flat-button" color="primary"
           routerLinkActive="mat-accent">
          <span>STATISTICS</span>
        </a>
        <button (click)="logout()" mat-button class="mat-flat-button" color="primary">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-drawer>
      <div class="page-layout">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-container>
  </main>
  <footer>
    <mat-toolbar class="small-row">
      <a class="go-top-button">
        <mat-icon>expand_less</mat-icon>
      </a>
      <div class="uppercase-font">
        © DIAGEO APP 2022. &nbsp;&nbsp; | &nbsp;&nbsp; SUPPORT &nbsp;&nbsp; | &nbsp;&nbsp; LEGAL
      </div>
    </mat-toolbar>
  </footer>
</div>
