<mat-tab-group mat-align-tabs="start">
  <mat-tab label="List of campaigns">
    <div class="mat-page-label">
      List of campaigns
    </div>
    <div class="mat-tab-container">
      <app-campaign-list></app-campaign-list>
    </div>
  </mat-tab>
  <mat-tab label="Add attributes to campaign">
    <div class="mat-page-label">
      Add attributes to campaign
    </div>
    <div class="mat-tab-container">
      <app-campaign-attributes-create></app-campaign-attributes-create>
    </div>
  </mat-tab>
  <mat-tab label="New campaign">
    <div class="mat-page-label">
      New campaign
    </div>
    <div class="mat-tab-container">
      <app-campaign-create></app-campaign-create>
    </div>
  </mat-tab>
</mat-tab-group>
